.favourites {
    display: flex;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list-item {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: rgb(224, 123, 123); */
}

.trash-btn {
    color: rgb(224, 123, 123);
}

.trash-btn:hover {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents {
    padding: 0 10%;
}