html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.class {
  background-color: #9c4a4a;
}


.map {
  border: rgb(158, 158, 158) solid 1px;
  margin-left: 5vw;
  height: 80vh;
  width: 90vw;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn:hover {
  cursor: pointer;
}